@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --display-flex: flex;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
  font-family: 'Poppins', sans-serif;
}

h1 {
  display: var(--display-flex);
  justify-content: center;
  margin-top: 10rem;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.score-board {
  display: var(--display-flex);
  align-items: flex-start;
  justify-content: center;
  gap: 15rem;
}

.board {
  width: 40vw;
}

.board-header {
  display: var(--display-flex);
  align-items: center;
  justify-content: space-between;
}

.btn {
  outline: none;
  width: 40%;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  background: none;
}

.score-list {
  border: 2px solid black;
  border-radius: 10px;
  list-style: none;
  display: var(--display-flex);
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 1rem;
}

.score-value {
  display: var(--display-flex);
  align-items: center;
  font-size: 1.5rem;
  word-spacing: 2px;
  width: 100%;
}

.colored {
  background: #ccc;
  font-size: 1.5rem;
  height: 32px;
  border-radius: 10px;
}

.score-value span {
  padding: 0.5rem 1rem;
}

.score-input {
  display: var(--display-flex);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.add-score {
  display: var(--display-flex);
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.add-score input {
  height: 25px;
  width: 180px;
  outline: none;
  border-radius: 5px;
}
