@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Minecrafter.Alt';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Minecrafter.Alt.woff') format('woff');
}
@font-face {
    font-family: 'Minecrafter.Reg';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/Minecrafter.Reg.woff') format('woff');
}

:root {
  --display-flex: flex;
  --jungle-green: #0e211e;
  --hunter-green: #3c5b47;
  --indigo-dye: #224f6e;
  --blue: #008dc4;
  --jazzberry-jam: #af075c;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(60,91,71);
  background: linear-gradient(124deg, rgba(60,91,71,0.6) 5%, rgba(5,17,19,0.65) 50%, rgba(7,150,205,0.5) 95%), url(./assets/carl-raw-m3hn2Kn5Bns-unsplash.jpg);
  background-position: center;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

h1 {
  display: var(--display-flex);
  justify-content: center;
  margin-top: 10rem;
  font-size: 5rem;
  font-family: 'Minecrafter.Alt';
  letter-spacing: 3px;
}

h2 {
  font-size: 2rem;
}

.glow {
  animation: flicker 1.2s infinite alternate;
  color: #fff;
}

/* Flickering animation */
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px rgb(185, 185, 185),
      0 0 11px rgb(186, 186, 186),
      0 0 19px rgb(185, 185, 185),
      0 0 40px var(--jazzberry-jam),
      0 0 80px var(--jazzberry-jam),
      0 0 90px var(--jazzberry-jam),
      0 0 100px #c04a85,
      0 0 150px #c04a85;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.score-board {
  display: var(--display-flex);
  align-items: flex-start;
  justify-content: center;
  gap: 15rem;
}

.board {
  width: 40vw;
}

.board-header {
  display: var(--display-flex);
  align-items: center;
  justify-content: space-between;
}

.btn {
  outline: none;
  width: 40%;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  background: none;
}

.score-list {
  border: 2px solid black;
  border-radius: 10px;
  list-style: none;
  display: var(--display-flex);
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 1rem;
}

.score-value {
  display: var(--display-flex);
  align-items: center;
  font-size: 1.5rem;
  word-spacing: 2px;
  width: 100%;
}

.colored {
  background: #ccc;
  font-size: 1.5rem;
  height: 32px;
  border-radius: 10px;
}

.score-value span {
  padding: 0.5rem 1rem;
}

.score-input {
  display: var(--display-flex);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.add-score {
  display: var(--display-flex);
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}

.add-score input {
  height: 25px;
  width: 180px;
  outline: none;
  border-radius: 5px;
}
